.imageWithText {
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   overflow: visible;

   @include mq(1000) {
      flex-direction: row;
      justify-content: center;
   }

   &.horizontal {
      .images {
         img {
            width: 80% !important;
            height: auto !important;

            @include mq(1000) {
               width: auto;
               height: auto;
            }
         }
      }
   }

   .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      order: 2;
      
      @include mq(1000) {
         width: 150px;
         order: 1;
         margin-right: 25px;
      }

      h2 {
         font-size: rem-calc(18px);
         line-height: rem-calc(22px);
         margin-bottom: rem-calc(5px);
      }
   }

   .images {
      flex: 1;
      order: 1;

      @include mq(1000) {
         order: 2;
      }

      img:not(:first-of-type) {
         padding-left: 25px;
      }

      transform: translateY(50px);
      opacity: 0;
      transition: all 1s ease-out;

      &.visible {
         transform: translateY(0px);
         opacity: 1;
      }
   }
}