.imageWithText {
   @include setLRPadding();
   padding-top: 50px;
   padding-bottom: 100px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   overflow: visible;

   .text {
      display: flex;
      width: 20%;
      justify-content: flex-end;
      flex-direction: column;
      text-align: right;
      margin-right: 100px;

      h2 {
         font-size: rem-calc(20);
         line-height: rem-calc(24);
      }
   }

   .images {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      opacity: 0;
      transition: all cubic-bezier(.06,.48,.35,1) 1s;

      img {
         width: auto;
         height: auto;
         max-height: 70vh;
         max-width: 50vw;
   
         &:not(:first-of-type) {
            margin-left: 20px;
         }
   
         &:nth-of-type(even){
            transform: translateY(100px);
         }
      }

      &.visible {
         transform: translateY(-100px);
         opacity: 1;
      }
   }

   &.multipleImages {
      padding-bottom: 200px;

      .images {
         width: 80%;
      }
   }
}

.imageWithText:nth-of-type(even) {
   .text {
      order: 2;
      text-align: left;
      margin-left: 100px
   }

   .images {
      order: 1;
      justify-content: flex-end;
   }
}
